---
import Header from '../sections/Header.astro';
import Hero from '../sections/Hero.astro';
import Projects from '../sections/Projects.astro';
---

<main>
  <Header />
  <Hero />
  <Projects />
</main>

<style>

</style>

<script>
  
</script>
